* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #EFF2C0;
    font-family: 'Montserrat', sans-serif;
}

img {
    border-radius: 20px;
    width: 300px;
}

.my-name {
    color: #BEA57D;
    font-family: 'Roboto Slab', serif;
    font-size: 30px;
}

.subtitle {
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
}

.header {
    background-color: #BEA57D;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.5);
    padding: 20px 20px;
    width: 100%;
}

.header a {
    color: #fff;
    font-weight: 600;
    padding: 1px 20px;
    text-decoration: none;
}

.header a:hover {
    border-bottom: 4px solid #A52422;
    color: #A52422;
    transition-duration: 0.8s;
}

.section {
    display: inline-block;
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;
}

.my-picture {
    background-color: #a4bab7;
    border-radius: 20px;
    float: left;
    margin-left: 10%;
    max-width: 50%;
    padding: 10px;
}

.section-description {
    float: right;
    max-width: 50%;
    margin-right: 10%;
    margin-top: 6%;
    text-align: justify;
}

.bold {
    font-weight: bold;
}

.skills {
    background-color: #BEA57D;
    color: #fff;
    padding: 20px 20px;
}

.skills-list {
    margin: 20px;
    list-style: upper-roman;
}

.skills-list li {
    padding: 5px;
}

.skills-list li:nth-child(odd) {
    background-color: #a4bab7;
    border-radius: 5px;
}

.skills-list li:active {
    color: #A52422;
}